@font-face {
  font-family: "SSP";
  src: url("fonts/SourceSansPro-Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-family: "SSP";
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#content {
  width: 40%;
  height: 40%;
  border: 1px solid white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gen {
  line-height: 13px;
  /* border: 2px solid red; */
}

p:nth-child(1) {
  color: rgb(178, 178, 178);
}

.links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #28d1e7;
}
a:hover {
  color: white;
}
